* {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #f7e7df, #fceee9);
}

#container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

#frage {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

label {
  display: block;
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}


label:active {
  transform: scale(0.98);
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.3);
  margin-right: 10px;
}

/* Textfeld */
input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Buttons */
button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 12px;
  background: #ffb3a7;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  transform: scale(0.97);
}

#nextBtn {
  background: #ffd6a5;
}

#feedback {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

#feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#feedback img {
  width: 45%;
  max-width: 150px;
  border-radius: 12px;
  margin: 5px;
}
fieldset{
 padding-left: 2%;
}