img {
    height: auto;
    width: 70%;
    text-align: center;

}


button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

body{
    font-size: 15px;
}
button{
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(248, 245, 230);
}

#nextBtn{
  margin-top: 20px;
}
*{
    font-family: 'Poppins', Arial, sans-serif;
}
html{
    background-color:#f7e7df;
}
h3{
    margin: 10px;
    margin-left: 5px;
}

fieldset{
    border: 3px solid;
}
#container{
    /*  display: flex;
    flex-direction: column;
  align-items: center;*/
}
#richtigbtn{
    margin-left: 0px;
}

h1,h2,h3,h4{
    padding-left: 2%;
}