img {
    height: auto;
    width: 70%;
    text-align: center;

}


button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

body{
    font-size: 21px;
}
button{
    padding: 7px;
    margin-top: 10px;
    
}

#nextBtn{
    background-color: rgb(177, 202, 224);
}
*{
    font-family: 'Poppins', Arial, sans-serif;
}